<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Rocket Elevators - Interventions</title>
  <meta name="description" content="" />
  <meta name="Author" content="Luka Gasic" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
</head>

<!--
  AVAILABLE BODY CLASSES:

  smoothscroll 			= create a browser smooth scroll
  enable-animation		= enable WOW animations

  bg-grey					= grey background
  grain-grey				= grey grain background
  grain-blue				= blue grain background
  grain-green				= green grain background
  grain-blue				= blue grain background
  grain-orange			= orange grain background
  grain-yellow			= yellow grain background

  boxed 					= boxed layout
  pattern1 ... patern11	= pattern background
  menu-vertical-hide		= hidden, open on click

  BACKGROUND IMAGE [together with .boxed class]
  data-background="assets/images/_smarty/boxed_background/1.jpg"
-->
<body class="smoothscroll enable-animation">



<!-- wrapper -->
<div id="wrapper">

  <!--
    AVAILABLE HEADER CLASSES

    Default nav height: 96px
    .header-md 		= 70px nav height
    .header-sm 		= 60px nav height

    .b-0 		= remove bottom border (only with transparent use)
    .transparent	= transparent header
    .translucent	= translucent header
    .sticky			= sticky header
    .static			= static header
    .dark			= dark header
    .bottom			= header on bottom

    shadow-before-1 = shadow 1 header top
    shadow-after-1 	= shadow 1 header bottom
    shadow-before-2 = shadow 2 header top
    shadow-after-2 	= shadow 2 header bottom
    shadow-before-3 = shadow 3 header top
    shadow-after-3 	= shadow 3 header bottom

    .clearfix		= required for mobile menu, do not remove!

    Example Usage:  class="clearfix sticky header-sm transparent b-0"
  -->
  <div id="header" class="navbar-toggleable-md sticky header-md clearfix">

    <!-- TOP NAV -->
    <header id="topNav">
      <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo float-left" href="index.html">
          <!--<img src="assets/images/R2.png" alt="" />-->
          <%= image_tag ("R2.png") %>
        </a>

        <!--
          Top Nav

          AVAILABLE CLASSES:
          submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
          <nav class="nav-main">

            <!--
              .nav-onepage
              Required for onepage navigation links

              Add .external for an external link!
            -->
            <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
              <li class="active"><!-- HOME -->
                <a href="index.html">
                  HOME
                </a>
              </li>
              <li><!-- SERVICES -->
                <a href="index.html#services">
                  SERVICES
                </a>
              </li>
              <li><!-- WORK -->
                <a href="index.html#portfolio">
                  PORTFOLIO
                </a>
              </li>
              <li><!-- NEWS -->
                <a href="index.html#news">
                  NEWS
                </a>
              </li>
              <li><!-- CLIENTS -->
                <a href="index.html#clients">
                  CLIENTS
                </a>
              </li>
              <li><!-- CONTACT -->
                <a href="index.html#contact">
                  CONTACT
                </a>
              </li>
              <li><!-- INTERVENTIONS -->
                <a href="/interventions">
                  INTERVENTIONS
                </a>
              </li>
            </ul>

          </nav>
        </div>

      </div>
    </header>
    <!-- /Top Nav -->

  </div>

  <!-- INTERVENTIONS -->
  <style>
    section#interventions>.container>form>.row{
      margin-bottom:42px;
      padding: 0 6px;
    }
  </style>

  <section id="interventions">
    <div class="container">
       <header class="mb-60">
        <h2 class="text-center">Interventions Form</h2>
        <p class="lead font-lato"></p>
        <hr/>
       </header>       

        <form>
          <h3>Identification</h3>

          <div class='row'>
            <h4>Employee Selection</h4>
            <p>Select your credentials</p>
            <select class="form-select" aria-label="select example">

            <% if !@employees.nil? %>
              <% @employees.each do |employee| %>
                <option value="<%= employee.id %>">
                  <%= employee.first_name %> <%= employee.last_name %>
                </option>
              <% end %>
            <% end %>

            </select>
          </div>

          <h3>Elevator Selector</h3>

          <div class='row'>
            <h4>Step 1/5</h4>
            <p>Select Customer</p>
            <select class="form-select" aria-label="select example">
              <option selected>None</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class='row'>
            <h4>Step 2/5</h4>
            <p>Select Building</p>
            <select class="form-select" aria-label="select example">
              <option selected>None</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class='row'>
            <h4>Step 3/5</h4>
            <p>Select Battery</p>
            <select class="form-select" aria-label="select example">
              <option selected>None</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class='row'>
            <h4>Step 4/5</h4>
            <p>Select Column</p>
            <select class="form-select" aria-label="select example">
              <option selected>None</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class='row'>
            <h4>Step 5/5</h4>
            <p>Select Elevator</p>
            <select class="form-select" aria-label="select example">
              <option selected>None</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class='row'>
            <h3>Description</h3>
            <h4>Intervention Description</h4>
            <p>Please describe the nature of the intervention</p>
            <!--
            <label for="intervention-description" class="form-label">Intervention description.</label>
            -->
            <textarea class="form-control" id="intervention-description" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="footer">
    <div class="container">


      <div class="row">

        <!-- col #1 -->
        <div class="col-md-8">

          <h3 class="letter-spacing-1">WHY US?</h3>

          <!-- Small Description -->
          <p>
            We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
          </p>
          <h2>(418) 555-1234</h2>
        </div>
        <!-- /col #1 -->



      </div>


    </div>

    <div class="copyright">
      <div class="container">
        <ul class="float-right m-0 list-inline mobile-block">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li>&bull;</li>
          <li><a href="#">Privacy</a></li>
        </ul>
        &copy; All Rights Reserved, Company LTD
      </div>
    </div>

  </footer>
  <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->
<script>var plugin_path = 'assets/plugins/';</script>
<!--<script src="assets/jquery-3.3.1.min.js"></script>-->
<script src="assets/quote.js"></script>

<script src="assets/js/scripts.js"></script>



<!-- REVOLUTION SLIDER -->
<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/view/demo.revolution_slider.js"></script>
</body>
</html>
